<aside class="paywall">
    <div class="paywall-inner">
        <span class="post-tag">Subscribers only</span>
        <h2 class="paywall-title">Continue reading this post.</h2>
        <p class="paywall-desc">This content is for paying members. Subscribe to read every post and get new pieces in your inbox.</p>
        <div class="paywall-actions">
            <a href="#/portal/signup" class="btn-subscribe">Become a subscriber</a>
            <a href="#/portal/signin" class="btn-load-more">Sign in</a>
        </div>
    </div>
</aside>
